## --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr
out/

# Si prefieres conservar las configuraciones compartidas del proyecto en .idea,
# desbloquea todo .idea y excluye solo lo específico del usuario:
# !.idea/
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/usage.statistics.xml
# .idea/dictionaries
# .idea/shelf

## --- Compilación de Java (Archivos de salida) ---
*.class
*.jar
*.war
*.ear
*.nar

## --- Build Tools (Maven & Gradle) ---
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradle-enterprise/

## --- Archivos del Sistema Operativo ---
.DS_Store
Thumbs.db
desktop.ini

## --- Logs y archivos temporales ---
*.log
*.tmp